<p>
    (CNN)Tori Sisson and Shanté Wolfe of Tuskegee, Alabama, camped outside the Montgomery County Courthouse overnight, hoping that when the sun rose Monday, they'd be the first same-sex couple to be legally married in the county.

They arrived at 2 p.m. Sunday and set up their tent. Expecting a crowd -- of mostly media and friends, or their "chosen family," as many of their kin don't approve of their relationship -- they awoke at 5 a.m. to get dressed "so that when we got out of the tent we'd look like a million bucks," Sisson said.

Sisson, 24, and Wolfe, 21, have known each other for seven years. They've been dating for two. Last year, the pair got "spiritually married" in Tuskegee, but it wasn't perhaps as fulfilling as a state-recognized union -- where all the rights and benefits of matrimony are conferred on both partners.
</p>